
$font-size: 12px;
$line-height: 1.4;
$lines-to-show: 4;

.catalog {
  &.left-nav {
    background: white;
    height: calc(100vh - 105px);
  }
  .nav-list {
    li {
      border-bottom: 1px solid rgba(55,183,225,0.2);
      padding: 10px;
      i {
        margin-right: 8px;
      }
      a {
        color: black;
        padding: 0;
        &:hover {
          color: #67BFE4;
          background-color: transparent;
        }
        &:focus {
          background-color: transparent;
        } 
      }
      &.active {
        background-color: #E2E4ED;
        border-bottom: 1px solid #B2D8EA;
        a {
          color: #67BFE4;
          padding: 0px;
        }
      }
    }
  }
}
.page-header {
  &.grouped {
    margin-top: 0;
    padding: 0 20px;
    h2 {
      display: inline-block;
    }
    button {
      vertical-align: bottom;
    }
  }
}

.container-catalog {
  background: white;
  height: 270px;
  width: 250px;
  margin-right: 35px;
  margin-bottom: 35px;
  float: left;

  .description {
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    max-width: 200px;
    height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
    margin: auto;
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .btn {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: -35px;
  }
}
