$font-size: 12px;
$line-height: 1.4;
$lines-to-show: 4;
.catalog {
  &.left-nav {
    background: white;
    height: calc(100vh - 105px);
  }
  .nav-list {
    li {
      border-bottom: 1px solid rgba(55, 183, 225, 0.2);
      padding: 10px;
      i {
        margin-right: 8px;
      }
      a {
        color: black;
        padding: 0;
        &:hover {
          color: #67BFE4;
          background-color: transparent;
        }
        &:focus {
          background-color: transparent;
        }
      }
      &.active {
        background-color: #E2E4ED;
        border-bottom: 1px solid #B2D8EA;
        a {
          color: #67BFE4;
          padding: 0px;
        }
      }
    }
  }
}

.page-header {
  &.grouped {
    margin-top: 0;
    padding: 0 20px;
    h2 {
      display: inline-block;
      text-transform: capitalize;
    }
    button {
      vertical-align: bottom;
    }
  }
}

.container-catalog {
  background: white;
  height: 270px;
  width: 250px;
  margin-right: 35px;
  margin-bottom: 35px;
  float: left;
  .function-img {
    max-height: 75px;
    height: 75px;
    max-width: 75px;
  }
  .description {
    display: block;
    /* Fallback for non-webkit */
    display: -webkit-box;
    max-width: 200px;
    height: $font-size*$line-height*$lines-to-show;
    /* Fallback for non-webkit */
    margin: auto;
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .btn {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: -35px;
  }
}
.service-functions,
.service-workflows,
.service-policies {
  .header {
    padding-bottom: 10px;
    position: relative;
    &.bordered {
      border-bottom: 1px solid #E7E7E7;
      margin-bottom: 15px;
    }
  }
  .label.label-success {
    vertical-align: text-top;
    margin-left: 100px;
    display: inline-block;
    margin-top: -1px;
    font-size: 95%;
  }
  .toggle {
    position: absolute;
    top: 16px;
    right: 10px;
  }
  .container-indv {
    border-bottom: 1px solid #E7E7E7;
    margin-left: 67px;
    margin-right: 0px;
    padding-bottom: 10px;
  }

}

.service-functions {
  .fa-book,
  .fa-server {
    margin-left: 30px;
    margin-right: 10px;
    font-size: 22px;
    color: #C0C0C0;
  }
  .fa-server {
    font-size: 15px;
  }
}

.service-workflows,
.service-policies {
  .fa-retweet {
    margin-left: 30px;
    margin-right: 10px;
    font-size: 22px;
    color: #C0C0C0;
  }
  .containers-services {
    margin: 10px 0;
    padding-left: 30px;
  }
  .container-service {
    display: inline-block;
    background: #FFFFFF;
    box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.26);
    border-top: 2px solid #91CDE6;
    height: 205px;
    width: 180px;
    margin-top: 10px;
    margin-right: 5em;
    position: relative;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    img {
      height: 75px;
      max-width: 75px;
    }
    &:before,
    &:after
    {
      content:'';
      width:5em;/* size of your margin */
      border-bottom: 2px solid #3BB4E1;
      position:absolute;
      top:50%;

    }
    &:after {
      left:100%;
    }
    &:before {
      content: "\f0da";
      border-bottom: medium none currentColor;
      right: 61.4%;
      top: 46.7%;
      color: #3AB4E1;
    }
    &:first-of-type:before,
    &:last-of-type:after {
      display:none;
    }
    img {
      font-family: OpenSans-Light;
      font-size: 14px;
      color: #000000;
      line-height: 19px;
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }
}

.service-policies {
  .fa-tags {
    margin-left: 30px;
    margin-right: 10px;
    font-size: 22px;
    color: #C0C0C0;
  }
  .container-service {
    height: 100px;
    width: 200px;
    h4 {
      margin-top: 10%;
    }
    &:before {
      right: 64.5%;
      top: 43.8%;
    }
  }

}
.capitalize {
  text-transform: capitalize;
}

/*Modal Content*/
.modal-deploy-service,
.modal-add-workflow,
.modal-add-policy {
  .header {
    font-weight: 200;
  }
}

.modal-deploy-service {
  .image-container {
    max-height: 150px;
    max-width: 150px;
    display: inline-block;
  }
  .content {
    width: 50%;
    white-space: nowrap;
    .form-group {
      white-space: initial;
    }
  }
  .service-info {
    display: inline-block;
  }
  hr {
    margin: 10px -70px;
  }
  .file-upload {
    border: thin dashed #65C8E8;
  }
  .btn-file {
    position: relative;
    overflow: hidden;
  }
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }
  .function-img {
    height: 150px;
    max-height: 150px;
    max-width: 150px;
  }
}

.modal-add-workflow {
  .fa-cogs {
    font-size: 19px;
    color:#C0C0C0;
    margin-right: 5px;
  }
  h4 {
    color: #C0C0C0;
  }
  .select-service {
    display: inline-block;
    width: 90%;
  }
  .fa-bars {
    font-size: 19px;
    margin-left: 20px;
    margin-top: 12px;
    color: #37B7E1;
    &:hover {
      cursor: pointer;
    }
  }
}

.modal-add-policy {
  .select-service {
    display: inline-block;
    width: 200px;
    margin: 0 20px;
  }
}
