<section class="service-policies">
  <div class="clearfix r-mb20">
    <div class="page-header grouped">
      <h2>Service Policies|</h2>
      <button class="btn btn-primary btn-sm" {{action 'add'}}>Add Policy</button>
    </div>
    <div class="btn-group searchable col-md-12">
      <i class="fa fa-search"></i>
      {{input placeholder='search' class='form-control r-pl25' value=search}}
    </div>
  </div>
  {{service-policy}}
</section>
