<section class="modal-add-workflow container-fluid">
  <h1 class="text-center header">Add Service Workflow</h1>
  <hr>
  <div class="horizontal-form center-block">
    <div class="row form-group r-mt20">
      <div class="col-sm-12 col-md-2 form-label">
        <label>Name*</label>
      </div>
      <div class="col-sm-12 col-md-10">
        {{input class='form-control' placeholder='Workflow 1'}}
      </div>
    </div>
    <div class="horizontal-form center-block">
      <h1 class="text-center header r-mt20">Service Workflow Elements</h1>
      <hr>
      {{#each serviceFunctions as |function index|}}
        <div class="row form-group r-mt20">
          <div class="col-sm-12 col-md-3 form-label r-pt5">
            <i class="fa fa-cogs"></i>
            <h4 class="text-center inline-block">Service Function</h4>
          </div>
          <div class="col-sm-12 col-md-9">
            <select name="item-{{index}}" class="select-service form-control col-md-6" {{action 'selectChange' index on='change'}}>
              <option value="0">Select a Service Function</option>
              <option value="1">Skyfire</option>
              <option value="2">TrendMicro</option>
              <option value="3">Something</option>
            </select>
            <i class="fa fa-bars"></i>
          </div>
        </div>
      {{/each}}
    </div>
    {{partial 'add-cancel'}}
  </div>
</section>
