<div class="r-pl15 r-pr15">
  <div class="well">
    <div class="header {{unless collapsed 'bordered'}}">
      <i class="fa fa-book"></i>
      <h2 class="inline-block">Skyfire Service Optimizer</h2>
      <span class="label label-success">3 Services</span>
      <a {{action "toggleCollapse"}} class="toggle hand">{{#if collapsed}}<i class="icon icon-chevron-up"></i>{{else}}<i class="icon icon-chevron-down"></i>{{/if}}</a>
    </div>
    <div class="containers" class={{if collapsed 'hide'}}>
      <div class="container-indv row">
        <div class="col-sm-3 col-md-4">
          <i class="fa fa-server"></i>
          <span class="inline-block">Container 1</span>
        </div>
        <span class="col-sm-3 col-md-4">189.92.929.12</span>
        <span class="col-sm-3 col-md-4">Today at 3:00pm</span>
      </div>
    </div>
  </div>
</div>
